*,
*::after,
*::before{
    box-sizing: border-box;
}

:root{
    font-family: sans-serif;
}

body{
    width: 90%;
    margin: auto;
    background: hsla(240,0%,80%,1);
}

/* Try to use as little media queries as possible.
Use responsive flex- and grid-techniques. */
