/*--------------------- Alle Elementen ---------------------*/
*, *::before, *::after {
    box-sizing: border-box; 
}
/*--------------------- Wurzeleinstellungen: globale Variablen ---------------------*/
:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
/*--------------------- Body: Styles ---------------------*/
body {
	background-color: #035BC5;
    color: #c9d8ea;
    margin: 0;
}
main > section:nth-child(even){                     /**<section> haben verschiedene Farben**/
    background-color: 	hsl(213, 97%, 35%);
}
/*------------------------- Header -----------------------*/
header {
    padding-top: 4rem;
    padding-left: 12rem;
}
/*--------------------- Einzelne Artikel, Footer ---------------------*/
#about, #services, #contact_data_wrap, article, footer { 
    padding: 2.5rem;
}

/*-- Dasselbe wie "main > section:nth-child(even){
    background-color: 	hsl(213, 97%, 35%);"
}
#services, #about, footer {
    background-color: 	hsl(213, 97%, 35%);
    padding: 2.5rem;
}--*/

footer{
    background-color: hsl(213, 97%, 35%);
}
footer p { 
    font-size: 1rem;
}
/*--------------------- Headings, Text ---------------------*/
h1 {
    font-size: 7rem;
    line-height: 1;
}
h2 {
    font-size: 4rem;
    letter-spacing: 0.1em;
}
h3 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 0.5;
}
p {
    font-size: 1.5rem;
    color: 	hsl(213, 44%, 70%)
}

/*------- "Leistungen": section #services: -------*/
/** Container #services **/
#services {   
    display:flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}
/** Containers für untere und obere Reihen .row **/
.row {
    display: flex;
    width: 100%;
}
/** Weite der Boxen weniger machen **/
.row div {
    width: 50%;
}

/** Boxen .col: background-colour **/
.col_1 { 
    background-color: rgb(18, 142, 184);
}
.col_2 { 
    background-color: rgb(85, 4, 19);
}
.col_3 { 
    background-color: rgb(255, 249, 196);
}
.col_4 { 
    background-color: rgb(13, 122, 25);
}
/** Boxen .col: styling **/
.col_1, .col_2, .col_3, .col_4 {
    display: flex;
    flex-wrap:wrap;
    margin: 1%;
    padding: 3%;
    border-radius: 1.5em;
}


/*----------------------- Navigation -----------------------*/
nav {
    padding-top: 1.5rem;
    padding-right: 5rem;
    text-align: right;
}
nav li {
    display: inline;
    padding: 1.5rem;
}
a{
    text-decoration: none;   
    font-size: 1.2rem;
    color: #f6faff;
}
ul li {
    list-style: none;
}
ul i {
    margin-left: -2em; /** zentriert icons **/
}
/*------------------------ Buttons -----------------------*/
[type=submit],[type=button]{ /*** Buttons allgemein ***/
    display: inline-block;
    background-color: hsl(28, 100%, 50%) !important;
    color:#f6faff;
    font-weight: bold;
    border-radius: 4%;
    font-size: 1rem;
}
fieldset [type=submit] { /** Formular Submit **/
    padding: 1em;
    margin: 2em 0 0 42em;
}
#button_kontakt,#button_portfolio, #button_cv { /** Hire me, Portfolio, CV **/
    position: relative;
    padding: 0 0 0 0;
    width: 13%;
    height: 3em;
    margin: 2% 0 3% 0%;
}
/*--------------------- Formularfeld ---------------------*/
#contact_data_wrap {    /** Kontaktdaten **/
    text-align: center; /** zentriert den Formulartext **/
}
#contact_data_wrap li {
    font-size: 115%;
    color: 	hsl(213, 44%, 70%);
    padding: 1.5%;
}
#contact_data_wrap li.social_network {  /** Social Networks **/
    display: inline;                    /** in der Reihe anzeigen **/  
}
#contact_data_wrap a {
    opacity: 70%;
}
#contact_data_wrap h3 {  /** Headings **/
    color: #c9d8ea;
}
#contact_data_wrap h4 {  /** Headings **/
    color: #c9d8ea;
    font-weight: bolder;
}
fieldset, label, input {  /** Abstand zwischen den Formularfeldern **/
    display:inline-block;
    position:relative;
    border: none;
    margin: 0 0 2em 38em;
    padding: 0 1% 1% 5%;
}
textarea {
    margin-left: 37em;
}
/*-------------------------- Bild -------------------------*/
figure {
    align-items: center;
    max-width: fit-content;
}
figure img{
    padding: 20% 0 0 2%;
}



